
{% extends 'base.html' %}

{% block content %}
<div class="profile-container">
    <a href="{{ profile.get_absolute_url }}">{{ profile.nikename }}'s Profile</a>

    <div class="profile-picture">
      {% if profile.image %}
        <img src="{{ profile.image.url }}" alt="{{ profile.nikename }}'s profile picture" width="200" height="200" />
      {% else %}
        <p>No profile picture uploaded.</p>
      {% endif %}
</div>

    <div class="profile-details">
      <p>
        <strong>Email:</strong> {{ profile.user.email }}
      </p>
      <p>
        <strong>Bio:</strong> {{ profile.bio }}
      </p>
    </div>
    <ul>
        {% for book_instance in borrowed_books %}
            <li>
                <strong>{{ book_instance.instance_of }}</strong> 
                <br>
                Borrowed on: {{ book_instance.borrow_due_time }}
                
            </li>
        {% empty %}
            <p>You have not borrowed any books yet.</p>
        {% endfor %}
      </ul>
    

{% endblock %}
